<!DOCTYPE html>
<html>
<head>
    <title>ITSS_JP_2</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script src="main.js"></script>

</head>
<body>
    <div class="body-part"> 
    <h1>Thông báo trạng thái bãi đỗ xe</h1>
    <br>
    <select id="select">
        <option value="0">D9</option>
        <option value="1">C7</option>
        <option value="2">D3</option>
    </select>
    <br>
    <button class="btn" id="Rbtn">RED</button>
    <button class="btn" id="Ybtn">YELLOW</button>
    <button class="btn" id="Gbtn">GREEN</button>
    <br>
    <!-- List trạng thái các tòa nhà -->
    <div id="list">
        <h2>Trạng thái bãi đỗ xe</h2>
        <table>
            <tr>
                <th>Tòa nhà</th>
                <th>Trạng thái</th>
            </tr>
            <tr>
                <td>D9</td>
                <td id="D9-info">Không tắc</td>
            </tr>
            <tr>
                <td>C7</td>
                <td id="C7-info">Không tắc</td>
            </tr>
            <tr>
                <td>D3</td>
                <td id="D3-info">Không tắc</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>