body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    border: #00c1f1 solid 2px;
    border-radius: 10px;
    padding: 10px;
    width: 600px;
    background-color: #c8c8c8;
}
#select{
    width: 100px;
    font-size: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
#select option{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    padding: 0;
}

.btn{
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
}
#Gbtn{
    background-color: #4CAF50;
}
#Rbtn{
    background-color: #cb362b;
}
#Ybtn{
    background-color: #ddb71e;
}

#Gbtn:hover {
    background-color: #00ff08;
}
#Rbtn:hover {
    background-color: #ff1100;
}
#Ybtn:hover {
    background-color: #ffcc01;
}
ul {
    list-style-type: none; /* Ẩn marker của danh sách */
}
li{
    font-size: 30px;
    font-weight: bolder;
    color: #00c1f1;
}
li:before {
    content: none; /* Ẩn marker của mỗi mục trong danh sách */
}

.info{
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color:green;
    text-align: center;
    width: 150px;
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: #588c7e;
    font-family: monospace;
    font-size: 25px;
    text-align: left;
    background-origin: padding-box;
    border: solid #588c7e 2px;
}
th {
    background-color: #588c7e;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

table {
    border-collapse: collapse;
    width: 400px;
    color: #588c7e;
    font-family: monospace;
    font-size: 25px;
    text-align: left;
}